<section class="section">
  <div class="container">
    <h1 class="title">EML投入（デモ用）</h1>

    <%= render partial: 'eml_inputs/flash', locals: { notice: flash[:notice], alert: flash[:alert] } %>

    <%= form_with url: eml_inputs_path, local: true, html: { class: 'form', id: 'main-form', multipart: true } do |f| %>
      <div id="eml-inputs-form-body">
        <%= render partial: 'eml_inputs/form_body',
                   locals: {
                     f: f,
                     fields_values: @fields_values,
                     upload_values: @upload_values,
                     upload_requires_reselect: @upload_requires_reselect,
                     token: @token,
                     sent_at: @sent_at
                   } %>
      </div>
    <% end %>
  </div>
</section>
